In [41]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')

melb_df['Date'] = pd.to_datetime(melb_df['Date'])

melb_df['Date'].dt.quarter.value_counts()

def is_category(column):
    if column.nunique() < 150:
        return 1
    
columns_to_convert = [col for col in melb_df.columns if col not in ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] and melb_df[col].nunique() < 150]


melb_df[columns_to_convert] = melb_df[columns_to_convert].astype('category')

melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

In [42]:
sorted_df = melb_df.copy()

m1 = sorted_df['Type'] == 'townhouse'
m2 = sorted_df['Rooms'] > 2



sorted_df = sorted_df[m1 & m2].sort_values(ignore_index=True, by=['Rooms', 'MeanRoomsSquare'], ascending=[True, False])

sorted_df.loc[18,'Price']

1300000.0